  @import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

  
  body {
    height: 100vh;
    background: linear-gradient(136deg,rgba(58, 180, 107, 1) 0%, rgba(39, 39, 92, 1) 71%, rgba(30, 21, 51, 1) 100%);

  }

  .container {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  #container{
    background-color: #111;
    border: 1pt solid red;
    padding: 5px;
    font-family: "Bytesized", sans-serif;    color: red;
  }
  #todaysDay {
    font-size: 28px;
  }

  #todaysTime {
    font-size: 36px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 35px;
    padding: 15px;
  }

  button {
    height: 60px;
    width: 120px;
    font-size: 18px;
    border-radius: 10px;
    background: radial-gradient(circle,rgba(71, 161, 186, 1) 0%, rgba(84, 70, 138, 1) 100%);
    color: #fcfcfc;
    border-style: solid;
    border-color: #392255;
    cursor: pointer;
  }

  button:hover {
    background: radial-gradient(circle,rgb(105, 200, 226) 0%, rgba(84, 70, 138, 1) 100%);
    transform: scale(1.02);
  }

  button:active {
    transform: scale(0.98);
  }