  @import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

  @font-face {
    font-family: 'Digital';
    src: url('./fonts/DS-DIGI.ttf');
  }
  
  body {
    height: 100vh;
    background: linear-gradient(90deg,rgb(17, 15, 15) 0%, rgba(10, 1, 1, 1) 100%);

  }
  p{
    color: #fff;
    size: 45px;
    text-shadow: 1px 1px 2px #111;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  #date-display{
    width: 160px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient(circle,rgba(31, 15, 15, 1) 0%, rgba(10, 0, 0, 1) 100%);
    border: 1pt solid rgb(145, 145, 145);
    padding: 5px;
    font-family: 'Digital';
    color: rgb(250, 27, 27);
    text-shadow: 0.5px 0.5px 5px rgba(250, 92, 92, 0.575);
  }
  #todaysDay {
    font-size: 28px;
    align-self: flex-end;
  }

  #todaysTime {
    font-size: 36px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 35px;
    padding: 15px;
    background: radial-gradient(circle,rgba(38, 38, 38, 1) 0%, rgba(10, 10, 10, 1) 100%);
    border: 2px solid rgb(8, 8, 8);
  }

  button {
    height: 60px;
    width: 120px;
    font-size: 18px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2px;
    background: linear-gradient(49deg,rgba(23, 23, 23, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: #928a84;
    border-style: outset;
    border-color: #38363a;
    cursor: pointer;
  }

  button:hover {
    background: linear-gradient(49deg,rgb(37, 37, 37) 0%, rgba(0, 0, 0, 1) 100%);
    transform: scale(1.015);
  }

  button:active {
    transform: scale(0.98);
  }

  .bt-outborder {
    border: 2px inset rgb(8, 8, 8);
    height: 70px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.219);
  }